<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <p style="font-weight: bold;"> Usuario: <spam style="color: green;">{{user.username}}</spam> | <a href="{% url 'logout' %}">logout</a></p>
<p><a href="{% url 'main' %}">Lista de orçamentos</a> | <a href="{% url 'create-budget' %}">Criar orçamento</a></p>
<hr />
    {% block foo %}{% endblock %}
</body>
</html>